language: java
addons:
  sonarcloud:
    organization: "mixeway"
    token:  ${SONAR_TOKEN}

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=Mixeway_MixewayFortifyScaRestApi -Dsonar.login=${SONAR_TOKEN}
  - mvn package -DskipTests

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GH_TOKEN
  file_glob: true
  file:
    - "README.md"
    - "target/fortify*.jar"
  on:
    tags: true
